$container-gap:10px;

$box-base-color:red;

$box-padding:15px;
$box-border-radius-theme:10px;
$box-font-size:16px;
$box-font-family-theme: "Tiny5", sans-serif;
$box-shadow-theme:-10px -10px 10px rgb(74, 74, 74);

$text-color:white;
$font-base-size:1.3em;
$link-font-size:1.5em;





